{% extends 'base.html' %}
{% load static %}
{% block content %}
{%csrf_token%}

        <!-- theme-contents -->
        <main class="theme-contents contents-mt ">
        <!-- video contents-->  
          <div class="d-flex flex-column-reverse flex-md-row justify-content-md-between align-items-md-center mb-6">
            <h1 class="mt-3 mb-0 mt-md-0 text-black-87 font-weight-normal">SKH Leader Board</h1>
          

          </div>
          <div>
            <h2 class="mt-3 mb-0 mt-md-0 text-black-87 font-weight-normal">Global Rank</h2>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Score</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for score in global_score_list %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{score.user_id.user.username}}</td>
                  <td>{{score.score}}</td>
                  <td>{{score.create_date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <h2 class="mt-3 mb-0 mt-md-0 text-black-87 font-weight-normal">My Score</h2>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Score</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for score in local_score_list %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{score.user_id.user.username}}</td>
                  <td>{{score.score}}</td>
                  <td>{{score.create_date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
        </div>
        <div>

          
        </div>
        </main>
        <!-- /theme-contents -->
      

   
{% endblock %}
{% block modal %}
{% endblock %}
{% block javascript %}
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    
    <!-- UI Script -->
    <script src="{% static 'assets/common/js/vendor/perfect_scrollbar_1.4.0/perfect_scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/common/js/ui.js' %}"></script>
    <script src="{% static 'assets/common/js/demo.js' %}"></script>
    <script>
    </script>
{% endblock %}