//
// Base styles
//
//text-colors
.text-white-87 {
  // rgba(255, 255, 255, .87);
  color: $text-white-87 !important;
}
.text-white-6 {
  // rgba(255, 255, 255, .6);
  color: $text-white-6 !important;
}
.text-white-38 {
  // rgba(255, 255, 255, .38);
  color: $text-white-38 !important;
}
.text-black-87 {
  // rgba(0, 0, 0, .87);
  color: $text-black-87 !important;
}
.text-black-6 {
  // rgba(0, 0, 0, .6);
  color: $text-black-6 !important;
}
.text-black-38 {
  // rgba(0, 0, 0, .38);
  color: $text-black-38 !important;
}
.text-grays-9 {
  // #2a2c2e;
  color: $text-grays-9 !important;
}
.text-grays-8 {
  // #5b5c60;
  color: $text-grays-8 !important;
}
.text-grays-7 {
  // #8e8e93;
  color: $gray-700 !important;
}
.text-grays-6 {
  // #aaaaaf;
  color: $text-grays-6 !important;
}
.text-grays-5 {
  // #c7c7cc;
  color: $text-grays-5 !important;
}
.text-grays-4 {
  // #d1d1d6;
  color: $text-grays-4 !important;
}
.text-grays-3 {
  // #e5e5ea;
  color: $text-grays-3 !important;
}
.text-grays-2 {
  // #efeff4;
  color: $text-grays-2 !important;
}
.text-grays-1 {
  // #f7f7f9
  color: $text-grays-1 !important;
}